apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: door-sensor-monitor
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "development"
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: "sumitroajiprabowo/door-sensor-monitor:latest"